<br>
<div class="row">
    <ul class="nav flex-column">
        <div class="text-center col-12">
            <h2 class="ml-10">PetAdopt</h2>
        </div>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['pets']">Pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['adoptions']">Adoptions</a>
        </li>
      </ul>
</div>