<div class="card">
  <img class="card-img-top" src="{{pets.image}}" alt="Card image cap">
  <div class="card-body">
    <div class="card-title">
      <h5 class="card-title">{{pets.name}}</h5>
    </div>
    <div class="infoPet">
      <p class="card-text">Category: {{pets.category}}</p>
      <p class="card-text">Size: {{pets.size_kg}}kg</p>
    </div>
    <p class="card-text" *ngIf="pets.sex === 'm'">Sex: Male</p>
    <p class="card-text" *ngIf="pets.sex === 'f'">Sex: Female</p>
  </div>
</div>

