<h4>Our Mission</h4>
<p>To put an end to puppy farming in Serbia by making adopt don't shop so simple that it is the default for anyone looking for a pet.</p>

<h4>The Team</h4>
<p>The team behind PAW are seasoned fosterers who saw first hand the burden the rescues were under. We created PAW to help the rescues, but also to help the public find the right animal in order to reduce the demand for puppy farms and breeders.</p>

<h4>About the PAW Group</h4>
<p>Pet Adoption Website is the public-facing side of the PAW group. We also provide a full solution for animal rescues to manage their animals and streamline their admin.</p>
